<div class="comments centerall">
  
  <section class="comment centerall">
    <div class="meta">
      {{this.user.username}}
    </div>
    <div class="text">
      {{this.content}}
    </div>
  </section>

</div>

