<section class="card centerall">
  <header><strong>{{this.user.username}}</strong></header>
  <header><strong>{{this.name}}</strong></header>

  <div class="card-body">
    <p>{{this.description}}</p>
  </div>

  <footer class="card-footer">
    
    <a href="/editfood/{{id}}" class="card-footer-item">Edit or Delete</a>
    
  </footer>

</section>
