<div class="card">
  <div class="card-content">
    <a href="/potluck/{{id}}">
    <header class="title">
        {{ name }}
    </header>
    </a>
    <p class="subtitle">
     {{description}} 
    </p>
  </div>
</div>