<section>
  <h2>Create New Potluck</h2>

  <form class="new-potluck-form">
    <div>
      <label for="potluck-title">Title</label>
      <input type="text" id="potluck-title" name="potluck-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>


{{#if potluck.length}}
<section>
  <h2>Your Potluck</h2>
  <ol>
    {{#each potlucks as |potluck|}}
    <li>
      {{> potluck-details potluck}}
      <a href="/dashboard/edit/{{potluck.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-potluck.js"></script>