<div class="container centerall">
<div class="columns centerall">





<section class="column">
  <h2>Create New Potluck</h2>

  <form class="new-potluck-form">
    <div>
      <label for="potluck-title">Title</label>
      <input type="text" id="potluck-title" name="potluck-title" />
    </div>
    <div>
      <label for="potluck-description">Name</label>
      <input id="potluck-description" name="potluck-description" />
    </div>
    <button type="submit" class="btn">Potluck</button>
  </form>
</section>

<section class="column">
  <h2>Create New Comment</h2>

  <form class="new-comment-form">
    <div>
      <label for="new-comment-text">Comment Text</label>
      <input type="text" id="new-comment-text" name="new-comment-text" />
    </div>
    <button type="submit" class="btn">Comment</button>
  </form>
</section>

<section class="column">
  <h2>Create New Food</h2>

  <form class="new-food-form">
    <div>
      <label for="new-food-name">Food Name</label>
      <input type="text" id="new-food-name" name="new-food-name" />
    </div>
    <div>
      <label for="new-food-description">Food Description</label>
      <input type="text" id="new-food-description" name="new-food-description" />
    </div>
    <button type="submit" class="btn">Food</button>
  </form>
</section>






</div>

<div class="columns centerall">

  <h2 class="columns">Food:</h2>
  <div class="columns">
    {{#each potluck.food}}
      {{>food-details}}
    {{/each}}
  </div>

</div>

<div class="columns centerall">
  <h2 class="columns">Comments:</h2>
  <div class="columns">
    {{#each potluck.comments}}
      {{>comments}}
    {{/each}}
  </div>
</div>
</div>


{{#if potlucks.length}}
<section>
  <h2>Your Potluck</h2>
  <ol>
    {{#each potlucks as |potluck|}}
    <li>
      {{> potluck-details potluck}}
      <a href="/dashboard/edit/{{potluck.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}


<script src="/js/add-food.js"></script>
<script src="/js/add-comment.js"></script>
<script src="/js/add-potluck.js"></script>