{{!-- <div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}

{{!-- <div class="columns">
  <div class="column">
    <div class="brand-logo"></div>
    <div class="brand-title">SMART POT</div>
    <div class="login-input">
      <label for="email-login">EMAIL</label>
      <input id="email-login" type="email" placeholder="example@test.com" />
      <label for="password-login">PASSWORD</label>
      <input id="password-login" type="password" placeholder="Min 6 charaters long" />
      <button id="login-btn" type="submit">LOGIN</button>
    </div>
  </div> --}}

  <div class="column">
    <div class="brand-logo"></div>
    <div class="brand-title">SMART POT</div>
    <div class="signup-input">
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" placeholder="Username" />
      <label for="email-signup">EMAIL</label>
      <input id="email-signup" type="email" placeholder="example@test.com" />
      <label for="password-signup">PASSWORD</label>
      <input id="password-signup" type="password" placeholder="Min 6 charaters long" />
      <button id="signup-btn" type="submit">SIGNUP</button>
    </div>
  </div>
</div>


<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Login</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">Please login to proceed.</p>
        <div class="box">
          <figure class="avatar">
            <i class="fa-solid fa-3x fa-user-astronaut"></i>
          </figure>
          
          <form>
            <div class="field">
              <div class="control">
                <label for="email-login">EMAIL</label>
                <input id="email-login" class="input is-large" type="email" placeholder="e.g example@test.com" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label for="password-login">PASSWORD</label>
                <input id="password-login" class="input is-large" type="password" placeholder="*******">
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <button id="login-btn" type="click" class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in"
                aria-hidden="true"></i></button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="../">Sign Up</a> &nbsp;·&nbsp;
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>


<script src="./js/login.js"></script>