<section class="container is-medium">
<form class="new-potluck-form field">
  <label class="label" for="potluck-title">Title</label>
  <div class="control">
    <input class="input" id="potluck-title" name="potluck-title" type="text" placeholder="Text input">
  </div>


  <div class="field">
    <label class="label">Start Date</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" placeholder="e.g. 10/31/2022">
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar-day"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">End Date</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-danger" type="email" placeholder="e.g. 10/31/2022">
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar-day"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label" for="potluck-description">Description</label>
    <div class="control">
      <textarea class="textarea" id="potluck-description" name="potluck-description" placeholder="e.g. party starts at 9:00 pm"></textarea>
    </div>
  </div>


  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-link">Create Potluck</button>
    </div>
  </div>
</form>
</section>


{{!-- <section class="column">
  <h2>Create New Potluck</h2>

  <form class="new-potluck-form">
    <div>
      <label for="potluck-title">Title</label>
      <input type="text" id="potluck-title" name="potluck-title" />
    </div>
    <div>
      <label for="potluck-description">Name</label>
      <input id="potluck-description" name="potluck-description" />
    </div>
    <button type="submit" class="btn">Potluck</button>
  </form>
</section> --}}



<script src="/js/add-potluck.js"></script>