{{> post-info post}}

{{#each post.food}}
  {{>food-details}}
{{/each}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>





<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add food</button>
  </div>
</form>












{{/if}}

{{> comments potluck.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}