{{> post-info post}}

{{#each post.food}}
  {{>food-details}}
{{/each}}

{{#each post.comment}}
  {{>comments}}
{{/each}}

{{#if loggedIn}}
{{!-- <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>


<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add food</button>
  </div>
</form> --}}


<div class="control">
  <input class="input is-large is-rounded is-primary is-hovered" type="text" placeholder="e.g. This food is delicious">
</div>

<div class="control">
  <div class="select is-large is-rounded is-primary is-hovered">
    <select>
      <option>Add comment</option>
      <option>Add food</option>
    </select>
  </div>
</div>

<div class="control">
  <button class="button is-large is-primary is-rounded">Submit</button>
</div>

{{/if}}

{{> comments potluck.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}