:root {
    --primary: #40604F;
    --secondary: #8FB6BB;
    --tertiary: #F7BB39;
    --quatrinary: #757675;
    --newColor: #8FB6BB;
    --light: #F4F5F3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);

}

body {
    margin: 0px;
    background: #8FB6BB;
}

.navbar-brand {
    /* background: var(--tertiary); */
    border-bottom: 1px solid #EFEFEF;
    height: 100px;
    
}

.nav a {
    background-color: var(#8FB6BB);
}
nav a:hover {
    color: var(--tertiary);
    background-color: var(--secondary);
  }

.nav .logo {
    margin-top: 0px;
}

.nav .logo img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    width: 137px;
    height: 137px;
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translate(-50%, -50%);
}


.nav .logo img:last-child {
    margin-right: 0;
}

.navMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #fddb3a;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-right: 20px;
  }
  .btn-no-style a:hover {
    color: #fddb3a;
  }

.post {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: #F4F5F3;
    padding: 1% 0;
}

.post::after {
    clear: both;
    content: "";
    display: table;
}


.post .section {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.post h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    color: #423B35;
    text-align: left;
    font-size: 20px;
}

.post h1::first-letter {
    font-weight: 700;
    font-size: 40px;
}

.post p {
    outline-offset: 110px;
    text-align-last: center;
    font-family: open sans;
    font-weight: 400;
    margin: 5% auto;
}

.post .readmore {
    text-decoration-color: #DFCCAE;
    text-decoration: overline;
    color: #423B35;
    display: block;
    float: right;
    font-family: 'Playfair Display', serif;
    border-bottom: 2px inset #423B35;
}

.post .readmore:hover {
    color: #F4821C;
}

.post_header {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    background: #f4f4f4;
    padding: 1%;
    font-family: open sans light;
}

.post_header::after {
    clear: both;
    content: "";
    display: table;
}

.post_header span {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center;
    color: #423B35;
    text-decoration: none;
}

.post_header span:last-child {
    margin-right: 0;
}

.post_header .share {
    background-image: url(../images/icons/share.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

.footer {
    font-family: 'Playfair Display', serif;
    margin: 100px;
    text-align: center;
}


.logo_icon {
    background: var(--tertiary);
    border-radius: 50%;
    padding: 50px;
    width: 100px;
    height: 100px;
    font-size: 20px;
}

/* comments section */
.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}